# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

lhs_out
rhs_out
ACA2-2014
compare_dat

mesh/lhs_out-reference-small
mesh/rhs_out-reference-small

HelmholtzChallenge/Debug/*
